@import "tailwindcss";
:root {
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #575860;
  background-color: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary-50: #ffe6db;
  --color-primary-100: #ffd1bd;
  --color-primary-200: #ffc1a8;
  --color-primary-300: #ffaf92;
  --color-primary-400: #ff9c7f;
  --color-primary-500: #f28362;
  --color-primary-600: #f45626;
  --color-primary-700: #e44a18;
  --color-primary-800: #cf4111;
  --color-primary-900: #4e281c;

  --color-secondary-50: #ffebcd;
  --color-secondary-100: #ffdfb6;
  --color-secondary-200: #ffd19e;
  --color-secondary-300: #ffc38d;
  --color-secondary-400: #f1b07c;
  --color-secondary-500: #d89967;
  --color-secondary-600: #966033;
  --color-secondary-700: #54371e;
  --color-secondary-800: #482d16;
  --color-secondary-900: #412610;

  --color-bg-100: #fcfcfd;
  --color-bg-200: #f8f8fa;

  --color-text-50: #eceef1;
  --color-text-100: #e3e5e9;
  --color-text-200: #dbdde2;
  --color-text-300: #d2d4db;
  --color-text-400: #c6c8d1;
  --color-text-500: #b0b3be;
  --color-text-600: #80828d;
  --color-text-700: #747781;
  --color-text-800: #575860;
  --color-text-900: #1c1d20;

  --color-error: #a01f38;
  --color-success: #2f7b69;
}

.gradient-text {
  background: linear-gradient(
    137deg,
    #d89967 16.63%,
    #966033 37.95%,
    #412610 88.14%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.bg-gradient {
  background: linear-gradient(
    137deg,
    #d89967 16.63%,
    #966033 37.95%,
    #412610 88.14%
  );
}
.primary-button {
  @apply text-white px-5 py-2 rounded font-medium flex justify-center gap-2 
          hover:opacity-90 transition duration-300 ease-in-out;
}
.secondary-button {
  @apply flex gap-1 bg-primary-700 rounded-2xl text-white px-4 py-2 hover:bg-primary-600;
}
.start-table {
  @apply ps-5;
}
.table-body td {
  @apply py-4;
}
.table-body tr {
  @apply border border-text-200;
}
button {
  @apply cursor-pointer;
}
